@page
@model ProyectoCiclo3.App.Frontend.Pages.ListEstacionesModel
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Dirección</th>
      <th scope="col">Coordenada X</th>
      <th scope="col">Coordenada Y</th>
      <th scope="col">Tipo</th>
    </tr>
  </thead>
  <tbody>
     @foreach (var estaciones in Model.Estaciones)
    {
        <tr>
            <td>@estaciones.id</td>
            <td>@estaciones.nombre</td>
            <td>@estaciones.direccion</td>
            <td>@estaciones.Coord_x</td>
            <td>@estaciones.Coord_y</td>
            <td>@estaciones.tipo</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-estacionId="@estaciones.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-estacionId="@estaciones.id">Editar</a>
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal_@estaciones.id">
              Eliminar
              </button>
              <div class="modal fade" id="exampleModal_@estaciones.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Eliminación de registro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    ¿Está seguro que desea eliminar la estacion @estaciones.nombre ?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <form method="POST">
                      <input type="number" class="form-control d-none" id="id" name="id" placeholder="id" asp-for="@estaciones.id">
                      <button type="submit"class="btn btn-danger" href="">Eliminar</button>
                    </form>
                    </div>
                </div>
              </div>
            </div>
        </tr>
    }

  </tbody>
</table>