@page
@model ProyectoCiclo3.App.Frontend.Pages.ListEstacionesModel
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Dirección</th>
      <th scope="col">Coordenada X</th>
      <th scope="col">Coordenada Y</th>
      <th scope="col">Tipo</th>
    </tr>
  </thead>
  <tbody>
     @foreach (var estaciones in Model.Estaciones)
    {
        <tr>
            <td>@estaciones.nombre</td>
            <td>@estaciones.direccion</td>
            <td>@estaciones.Coord_x</td>
            <td>@estaciones.Coord_y</td>
            <td>@estaciones.tipo</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-estacionesId="@estaciones.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-estacionesId="@estaciones.id">Editar</a>
              <a class="btn btn-danger" href="">Eliminar</a>
              </td>
        </tr>
    }

  </tbody>
</table>